<a
  class="about garden-card"
  href="https://wiki.migueldeoleiros.com"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Visit my digital garden in a new tab"
>
  <span class="garden-layer garden-base">
    <span class="garden-copy">
      <span class="garden-icon-card" aria-hidden="true">
        <span class="garden-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-tree-deciduous-icon lucide-tree-deciduous"
          >
            <path
              d="M8 19a4 4 0 0 1-2.24-7.32A3.5 3.5 0 0 1 9 6.03V6a3 3 0 1 1 6 0v.04a3.5 3.5 0 0 1 3.24 5.65A4 4 0 0 1 16 19Z"
            ></path>
            <path d="M12 19v3"></path>
          </svg>
        </span>
      </span>
      <span class="garden-text">
        Check out my <span class="garden-link-label">DIGITAL GARDEN</span> to read my notes or recent
        blog posts!
      </span>
    </span>
  </span>
  <!-- duplicated html for hover animation-->
  <span class="garden-layer garden-invert" aria-hidden="true">
    <span class="garden-copy">
      <span class="garden-icon-card" aria-hidden="true">
        <span class="garden-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-tree-deciduous-icon lucide-tree-deciduous"
          >
            <path
              d="M8 19a4 4 0 0 1-2.24-7.32A3.5 3.5 0 0 1 9 6.03V6a3 3 0 1 1 6 0v.04a3.5 3.5 0 0 1 3.24 5.65A4 4 0 0 1 16 19Z"
            ></path>
            <path d="M12 19v3"></path>
          </svg>
        </span>
      </span>
      <span class="garden-text">
        Check out my <span class="garden-link-label">DIGITAL GARDEN</span> to read my notes or recent
        blog posts!
      </span>
    </span>
  </span>
</a>
